# service            arg source                  target                  action params

sdwdate.Connect      *   @tag:sdwdate-gui-client @tag:sdwdate-gui-server allow  autostart=no notify=no
sdwdate.ConnectCheck *   @tag:sdwdate-gui-client @tag:sdwdate-gui-server allow  autostart=no notify=no

sdwdate.Connect      *   @anyvm                  @anyvm                  deny
sdwdate.ConnectCheck *   @anyvm                  @anyvm                  deny
